import(RCurl)
import(XML)
import(RJSONIO)

export(allApplicants, statMSApps)
# Will change this interface to make more convenient.
export(getPDF)
export(getConnection)
export(byProgramDegree)

export(degreeObjectives, programIds)

export(getQueue)


export(
    lookup,
    matchName,
    getField
)

export(
    getProfile,
    getPriorEd,
    submittedApplications,
    programApplications,
    getDecisions,
    getPageById,
    getTabs
    )

export(slate)

export(
    pickByEnvision
)
