import(RCurl)
import(XML)

export(allApplicants, statMSApps)
# Will change this interface to make more convenient.
export(getPDF)
export(getConnection)
export(byProgramDegree)

export(degreeObjectives, programIds)

export(getQueue)
